@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 64.2%;
  font-family: "Ubuntu", sans-serif;
}
:root {
  /* Primary Colors */
  --MarineBlue: hsl(213, 96%, 18%);
  --PurplishBlue: hsl(243, 100%, 62%);
  --PastelBlue: hsl(228, 100%, 84%);
  --LightBlue: hsl(206, 94%, 87%);
  --StrawberryRed: hsl(354, 84%, 57%);

  /* Neutral Colors */
  --CoolGray: hsl(231, 11%, 63%);
  --LightGray: hsl(229, 24%, 87%);
  --Magnolia: hsl(217, 100%, 97%);
  --Alabaster: hsl(231, 100%, 99%);
  --White: hsl(0, 0%, 100%);
}
body {
  background-color: var(--Magnolia);
}
#root {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
/* Set the container as a grid */
/* .App {
  display: grid;
  grid-template-columns: 1fr 3fr; 
  gap: 10rem; 
  height: 80%; 
  width: 60%;
  background-color: var(--White);
  border-radius: 1rem;
  padding: 1.5rem;
} */
.App {
  display: flex;
  /* gap: 10rem;  */
  height: 80vh; /* Set a fixed height for demonstration purposes */
  width: 60vw;
  background-color: var(--White);
  border-radius: 1rem;
  padding: 1.5rem;
}

/* Apply styles to the left side */
.sideBar {
  /* background-color: #ffcc99; */
  height: 100%;
  background-image: url(../public/assets/images/bg-sidebar-desktop.svg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 2rem;
  border-radius: 1rem;
  /* width: 20rem; */
  flex: 30%;
}

.stepsContainer {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-top: 3rem;
}

.steps {
  display: flex;
  gap: 1rem;
}
.circle {
  width: 3rem; /* Adjust the width and height to make the circle larger or smaller */
  height: 3rem; /* Should be the same as the width to create a perfect circle */
  border-radius: 50%; /* Set the border-radius to 50% to create a circle */
  font-size: 1.5rem;
  border: 1px solid var(--LightBlue);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--White);
}
.active .circle {
  background-color: var(--LightBlue);
  color: #000;
}

.stepLevelContent span {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--White);
}

.stepLevelContent p {
  font-size: 1.2rem;
  font-weight: 300;
  color: var(--White);
}
/* styles for the left side ends */

/* Set the right side as a nested grid */
.content {
  flex: 70%;
  margin-left: 5rem;
  display: grid;
  grid-template-rows: 8fr 1fr; /* Divide right side into two rows with a 2:1 ratio */
}

/* Apply styles to the top right cell */
.contentChange {
  background-color: #99ccff; /* Some color to differentiate the top right cell */
}

.btnContainer {
  display: flex;
  justify-content: space-between;
  padding: 0 3rem;
  margin-bottom: 1rem;
}
/* styling for the h4 and paragraph that appearn on all render steps, keep it here so as not to repeat in all css file */
.page-01-text h4 {
  font-size: 2.5rem;
  margin-top: 4.5rem;
  padding-bottom: 1rem;
  color: var(--MarineBlue);
}

.page-01-text p {
  font-size: 1.5rem;
  margin-bottom: 3.5rem;
  color: var(--CoolGray);
}

@media screen and (max-width: 640px) {
  .App {
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: var(--LightBlue);
    padding: 0;
    position: relative;
    gap: 0;
  }
  .stepsContainer {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    margin-top: 3rem;
    /* align-items: center; */
    justify-content: center;
  }
  .stepLevelContent {
    display: none;
  }
  .sideBar {
    width: 100%;
    border-radius: 0rem;
    background-image: url(../public/assets/images/bg-sidebar-mobile.svg);
    background-size: 100%;
    padding: 0;
    flex: 30%;
    height: auto;
  }
  .content {
    flex: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-left: 0;
  }
  .content .active {
    background-color: var(--White);
    width: 90%;
    border-radius: 1rem;
    padding: 2rem;
    position: absolute;
    top: -12rem;
  }

  .content > * {
    flex: 8;
  }

  .content > :last-child {
    flex: 1;
  }
  .page-01-text h4 {
    margin-top: 2rem;
  }
  .btnContainer {
    position: absolute;
    bottom: 0;
    /* margin-top: auto; */
    background-color: var(--White);
    width: 100%;
    margin-bottom: 0;
    padding: 2rem 3rem;
  }
  .page-01-text h4 {
    margin-top: 2rem;
  }
}

.error {
  color: var(--StrawberryRed);
  font-size: 1rem;
  text-align: center;
}
